<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>python3 blog</title>
</head>
<link rel="stylesheet" href="static/ele.css">
<script src="static/vue.js"></script>
<script src="static/tools.js"></script>
<script src="https://cdn.bootcss.com/element-ui/1.4.3/index.js"></script>
<body >
  <canvas id="rain" width="438" height="170" style="margin-top:20px;margin-left:calc(50% - 219px);"></canvas>  
  <div id="app">
    <div style="margin: 100px auto;width:400px;margin-top:10px; text-align:center">
      <el-form :model="signin" :rules="rules" ref="signin" label-width="18%" class="demo-ruleForm">
        <el-form-item label="邮箱" prop="email">
            <el-input v-model="signin.email"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
            <el-input type="password" v-model="signin.password"></el-input>
        </el-form-item>
        <el-button type="primary" @click="submitForm">登录</el-button>
        <el-button @click="resetForm">重置</el-button>
        <a style="width:80%;line-height:30px;border:1px solid #459FF3;color:#459FF3;border-radius:5px;display:inline-block;margin-top:20px;text-decoration:none;" href='/signup'>注册</a>
      </el-form>
   </div>
   <div style="position:fixed;width:100%;background:#333435;bottom:0;height:10%;left:0;text-align: center;color:#fff;">
     <p style="height:100%">blog@ power by python3 and vue element</p>   
   </div>
  </div>
  <script>
    Rain.init({
      el: "rain",
      speed: 600,
      delay: 60,
    })
    var app = new Vue({
      el: '#app',
      data () {
        return {
          signin: {
            email: '',
            password: '',
          },
          rules: {
            email: [{
              required: true, message: '请输入邮箱', trigger: 'blur'
            }],
            password: [{
              required: true, message: '请输入密码', trigger: 'blur'
            }]
          }
        }
      },
      methods:{
        submitForm() {
          this.$refs['signin'].validate((valid) => {
            if (valid) {
              fetch('/api/signin', {
                method: 'POST',
                credentials: 'include',
                headers: {
                  "Content-Type": "application/json",
                  "Accept": "application/json"
                },
                body: bodyPrase(this.signin)
              }).then(response => response.json()).then(res => {
                if (res.code === 200) {
                  window.location='/blogs'
                } else {
                  this.$message.error(res.msg)
                }
              }).catch(err => this.$message.error(err))
            } else {
              this.$message.error('请填入正确账号密码！');
              return false;
            }
          });
        },
        resetForm(){
          this.$refs['signin'].resetFields();
        }
      }
    })

    
  </script>
</body>
</html>
